<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="static/app/images/example-slide-1.jpg" alt="First slide">
			<div class="carousel-caption">
				<h2>首页</h2>
				<p>
					This is a learning project
				</p>
			</div>
		</div>
		<div class="item">
			<img src="static/app/images/example-slide-2.jpg" alt="Second slide">
			<div class="carousel-caption">
				<h2>首页</h2>
				<p>
					This is a learning project
				</p>
			</div>
		</div>
		<div class="item">
			<img src="static/app/images/example-slide-3.jpg" alt="Third slide">
			<div class="carousel-caption">
				<h2>首页</h2>
				<p>
					This is a learning project
				</p>
			</div>
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>